body {
    background-color: #fafbfc;
}
.m-logo {
    padding-top: 40px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}
.m-title {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin: 20px auto;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.wp {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;
}
.m-box {
    margin-top: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
