body {
    background-color: #fafbfc;
}
.p-index {
    padding: 0 50px;
}

.m-logo {
    padding-top: 100px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}
.m-title {
    text-align: center;
    font-weight: 300;
    font-size: 60px;
    margin: 20px auto;
}

.wp {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;
}
.m-box {
    margin-top: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.m-panel {
    background-color: #f7f7f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 6px 10px;

    .u-msg {
        font-size: 14px;
        color: #666;
    }
}
.m-applications {
    margin: 0;
    background-color: #fff;
    padding: 40px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    list-style: none;
    display: block;
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .u-item {
        padding: 10px 20px;
    }
    .u-item:hover {
        outline: 1px solid #004cce;
        border-radius: 4px;
        background-color: #fafbfc;
    }
    .u-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .u-icon {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    .u-desc {
        line-height: 1.6;
        color: #333;
        white-space: nowrap;
        em {
            display: block;
            color: #999;
            font-size: 12px;
        }
    }
}
@media screen and (max-width: 1680px) {
    .m-applications {
        max-width: none;
    }
}
@media screen and (max-width: 1280px) {
    .m-applications {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1000px) {
    .m-applications {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 720px) {
    .p-index {
        padding: 0;
    }
}
